    .userName {
        justify-content: left;
        align-items: center;
        display: flex;
        width: 18rem;
        height: 1.8rem;
    }
    
    .boldUserName {
        font-size: 1rem;
        font-weight: 450;
    }
    
    .userNameText {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 6rem;
        height: 1.8rem;
    }
    
    .userNameContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .inputPasswordContainer {
        justify-content: center;
        align-items: center;
        display: flex;
    }
    
    .inputPassword {
        width: 21rem;
        height: 1.8rem;
    }
    
    .checkboxContainer {
        justify-content: center;
        align-items: center;
        display: flex;
    }
    
    .buttonInputContainer {
        justify-content: center;
        align-items: center;
        display: flex;
    }
    
    .Checkbox {
        width: 3rem;
        height: 1.8rem;
    }
    /* .checkboxDiv {
        width: 4rem;
        height: 3rem;
        padding-left: 0.3rem;
        padding-top: 0.53rem;
    } */
    
    .loginContainer {
        justify-content: center;
        display: flex;
    }
    
    .login {
        width: 24rem;
        height: 1.8rem;
    }
    
    .usernNameBold {
        font-weight: 500;
        font-size: 1rem;
    }